<html>
<body>
<center><h1>เว็บรวมเพลงพระราชนิพนธ์</h1>
<p><a href="http://music.sanook.com/2382253/">รวมบทเพลงพระราชนิพนธ์</a></p>
<a href="URL">...สิ่งที่จะลิงค์...</a>
<p align = "right"><a href="https://tranquil-waters-73198.herokuapp.com/kingsong1">King1</a></p>
</center>
</html>
<body>