<center><h1>เนื้อเพลง ใกล้รุ่ง (Near Dawn)</h1>
<p>ได้ยินเสียงแว่วดังแผ่วมาแต่ไกลไกล
ชุ่มชื่นฤทัยหวานใดจะปาน
ฟังเสียงบรรเลงกับเพลงประสาน
จากทิพย์วิมานประทานกล่อมใจ
ใกล้ยามเมื่อแสงทองส่อง	
ฉันคอยมองจ้องฟ้าเรืองรำไร
ลมโบกโบยมาหนาวใจ
รอช้าเพียงไรตะวันจะมา
เพลิดเพลินฤทัยฟังไก่ประสานเสียงกัน
ดอกมะลิวัลย์อวลกลิ่นระคนมณฑา
โอ้ในยามนี้เพลินหนักหนาแสงทองนวลผ่องนภา
แสนเพลินอุราสำราญ
หมู่มวลวิหคบินผกมาแต่รังนอน
เฝ้าเชยชิดช้อนลิ้มชมบัวบาน
ยินเสียงบรรเลงดังเพลงขับขาน
สอดคล้องกังวานซาบซ่านจับใจ</p></center>
