<center><h1>เนื้อเพลง ยิ้มสู้ (Smiles)</h1>
<p>โลกจะสุขสบายนั้นเป็นได้หลายทาง
ต้องหลบสิ่งกีดขวางหนทางให้พ้นไป
จะสบความสุขสันต์สำคัญที่ใจ
สุขและทุกข์อย่างไรเพราะใจตนเอง
ฝ่าลู่ทางชีวิตต้องคิดเฝ้าย้อมใจ
โลกมืดมนเพียงใดหัวใจอย่าคร้ามเกรง
ตั้งหน้าชื่นเอาไว้ย้อมใจด้วยเพลง
ไยนึกกลัวหวาดเกรงยิ้มสู้
คนเป็นคนจะจนหรือมี
ร้ายหรือดีคงมีหวังอยู่
ยามปวงมารมาพาลลบหลู่
ยิ้มละมัยใจสู้หมู่มวลเภทภัย
ใฝ่กระทำความดีให้มีจิตโสภา
สร้างแต่ความเมตตาหาความสุขสันต์ไป
จะสบความสุขสันต์สำคัญที่ใจ
เฝ้าแต่ยิ้มสู้ไปแล้วใจชื่นบาน</p></center>
